<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">☰
            <span class="sr-only">Toggle navigation</span>
          </button>

          <a class="navbar-brand" href="#"> Laton Company</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="https://kadetat.github.io/Laton-Company/">Blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="crossword_landing.html">Marketplace</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://kadetat.github.io/Laton-Company/About.html">About</a>
                  </li>
              </ul>
          </div>
        </nav>
      </header>

      <section>

      {{ content }}

        <article class="footer">
        <p> Creators: Janae Talbott</p>
        <p> March 2nd, 2024</p>
        <p> Contact: @gmail.com</p>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </article>
      </section>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
