---
layout: default
---
<article class="top">
  <h1 class="OutlineText"> Laton Company - My Blog </h1>
  <h2>Rural Revitalizer, Innovator, Creator</h2>
  <p><a href="https://kadetat.github.io/Laton-Company/" style="color: black;"><b>Blog Homepage</b></a></p>
</article>
<article class="post">
<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
</article>
